* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 6rem;
  align-items: center !important;
  width: 100% !important;
  padding-left: .5rem !important;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background-color: rgba(9,5,19,.4);
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}

.nav-item {
}

.nav-link {
  font-size: 3rem !important;
  font-weight: 900 !important;
  color: #f2f2f2 !important;
  text-decoration: none !important;
  padding: 0 3rem !important;
}

.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #f2f2f2;
  --bs-nav-pills-link-active-bg: #2D2672 !important;
}

.stat {
  width: 100%;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background-color: rgba(9,5,19,.5);
  padding: 2rem;
  margin-bottom: 3rem;
}

.stat > .row {
  display: flex !important;
  justify-content: center !important;
  height: 100% !important;
}

.player-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-icon > img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.player-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
}

.player-stat p {
  font-size: 2rem;
}

.player-stat > p span {
  color: #FFD852;
}

.player-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.player-actions button.filled {
  background: #2a2a2a;
  color: #FFD852;
  border: none;
  font-size: 1.2rem;
  padding: 1.2rem 3rem;
  border-radius: 12px;
}

.player-actions button.outline {
  background: #2a2a2a;
  color: #FFD852;
  border: none;
  font-size: 1.2rem;
  padding: 1.2rem 3rem;
  border-radius: 12px;
}

.keys > p {
  font-size: 1.4rem;
}

.keys > p span {
  background-color: #FFD852;
  color: #121212;
  padding: .5rem 1rem;
  font-weight: 900;
  border-radius: 12px;
  margin-right: .5rem;
}

.leaderboard {
  width: 100%;
}

.leaderboard > .score {
  width: 100%;
  margin-bottom: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  font-size: 1.3rem;
  height: 5rem;
  padding: 2rem;
  border-radius: 12px;
}

.points {
  color: #FFD852;
}
